body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #fefefe;
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;

}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2
}
.site-navigation a:active {
  color: #b2b2b2
}

.text-title {
  font-size: 21px;
  font-weight: 700;
}

.text-title-main {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.features-list {
  list-style: none;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 26px;
}

.feature-item-long {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item-short {
  background-color: #eeeeee;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: #857871;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
}

.footer-social {
  text-align: center;
}

.footer-social ul{
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  text-align: center;
  color: #000000;
}

.footer-hashtags a {
  color: #000000;
}

.footer-hashtags {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-button {
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.modal {
  color: #000000;
}

.search-item {
  font-weight: 700;
}

.search-hotel h2 {
  font-size: 30px;
  line-height: 36px;
}

.search-hotel p {
  font-size: 14px;
  line-height: 24px;
}

.search-hotel-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.modal p {
  font-size: 14px;
  line-height: 26px;
}

.search-form input[type="text"],
.search-form input[type="number"] {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
  border: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
}

legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

label {
  line-height: 21px;
}

.search-rezult {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting h2 {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
}

.sorting-list a:focus,
.sorting-list a:hover {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
}

.info-button{
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
}

.info-button:hover,
.info-button:focus {
  background-color: #669ec0;
}

.info-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.catalog-list {
  list-style: none;
}

.catalog-list h3 a {
  color: #000000;
}

/* временное */

html,
body {
  width: 1200px;
  min-height: 2762px;
}

body {

  background-color: #ffffff;
}

.main-header-logo {
  width: 138px;
  height:70px;
  position: absolute;
  left: 531px;
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  width: 1056px;
  margin: 0;
  padding: 0;
  padding-left: 73px;
  padding-right: 73px;
  display: flex;
  min-height: 56px;
  justify-content: space-between;
}
.site-navigation li:nth-child(1) {
margin-right: auto;
}

.site-navigation li:nth-child(2) {
margin-right: auto;
}

.site-navigation li:nth-child(3) {
margin-left: auto;
}

.site-navigation li:nth-child(4) {
margin-left: auto;
}

.title {
  width: 100%;
  background-image: url("../img/background-main.jpg");
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-color: #e4f1f9;
  margin: 0;
  padding: 0;
  min-height: 255px;
}

.title img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
/* временное */
  min-height: 508px;
}

.description {
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 576px;
  text-align: center;
}


.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 1098px;
  display: flex;
  flex-direction: column;
}

.feature-item {
  text-align: center;
}

.features-list li:nth-child(1) {
  width: 100%;
  min-height: 255px;
}

.features-list li:nth-child(1) img {
  float:right;
}

.recommendations-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-height: 330px;
}

.recommendations-item {
  width: 400px;
  text-align: center;
}

.features-list li:nth-child(3) {
  width: 100%;
  min-height: 255px;
}

.feature-item-short {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 255px;
}

.features-list li:nth-child(4) {
  width: 400px;
}

.features-list li:nth-child(5) {
  width: 400px;
}

.features-list li:nth-child(6) {
  width: 400px;
}

.search-hotel {
  text-align: center;
  width: 575px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}





.main-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer-hashtags {
  margin: 0;
  width: 400px;
}

.footer-social {
  margin: 0;
  width: 400px;
}

.footer-copyright {
  margin: 0;
  width: 400px;
}


/* вторая страница */

.filter {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 217px;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;

}

.facility {
  width: 240px;
}

.filter-type {
  width: 288px
}

.filter-search {
  width: 328px;
  margin-left: 200px;
}

.sorting {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1056px;
  min-height: 86px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.search-filters {
  width: 528px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 288px;
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 1056px;
  justify-content: space-between;
  text-align: center;
}

.catalog-item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.rating-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  241
}

.rating {
  width: 241px;
  text-align: right;
}

.hotel-description {
  width: 528px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
